
{% extends 'auto/index.html' %}
{% block title %}定时任务{% endblock %}
{% block exstyle %}
#content > .ui.segment {
  height: 100%;
}

{% endblock%}
{% block content %}
<div class="ui segment">
	<div class="ui segment blue">
		<h4 class="ui header blue">测试脚本管理 > 项目管理</h4>
	</div>
	<div class="ui six column grid" id="timelist"></div>
</div>

<div class="ui small modal" id="changeTime">
  <div class="header">时间修改</div>
  <div class="content">
  	<form action=" {% url 'changetime' %} " class="ui form" method="post">
		<div class="field" id="ct">
		<h4 class="item">时间一：</h4>
		<input type="text" class="alarm" name="time1">
		<h4 class="item">时间二：</h4>
		<input type="text" class="alarm" name="time2">
		<h4 class="item">时间三：</h4>
		<input type="text" class="alarm" name="time3">
		</div>
  </div>
  <div class="actions">
  	<button class="positive ui button">提交</button>
  	</form>
  	<div class="negative ui button">取消</div>
  </div>
</div>

{% endblock %}
{% block exjs %}
<link href="/static/plugins/datedropper/datedropper.min.css" rel="stylesheet" />
<link href="/static/plugins/timedropper/timedropper.min.css" rel="stylesheet" />

<script src="/static/plugins/datedropper/datedropper.min.js"></script>
<script src="/static/plugins/timedropper/timedropper.min.js"></script>

<script>




window.onload = gettime(1);


$("#timelist").on('click', "input[name='newsletter']", function(){
	if ($(this).is(':checked')){
		var be = "{\"behaviour\":1, " + "\"id\":" + $(this).attr('id') + ", \"code\":1}";
		$.ajax({
			type: "post",
			url: "{% url 'showtime' %}",
			data: be,
			dataType: "json",
			success: function(data){
				alert(data);
			}
		});
	}
	else{
		var be = "{\"behaviour\":1, " + "\"id\":" + $(this).attr('id') + ", \"code\":0}";
		$.ajax({
			type: "post",
			url: "{% url 'showtime' %}",
			data: be,
			dataType: "json",
			success: function(data){
				alert(data);
			}
		});
	}

});

function gettime(behaviour){
	$.ajax({
		type: "post",
		url: "{% url 'showtime' %}",
		data: behaviour,
		dataType: "json",
		success: function(data){
			$.each(data, function(k ,v){
				var head = "<div class=\"column\"><div class=\"ui segments\"><div class=\"ui segment no-padding\"><div class=\"ui menu no-radius borderless inverted redli\"><div class=\"header item\">" + k + "</div><div class=\"right menu\"><a class=\"item\" onclick=\"cgtime('"+ k +"')\"><i class=\"content icon\"></i></a></div></div></div><div class=\"ui segment\">";
				var foot = "</div></div></div>";
				var content = "";

				$.each(v, function(m, n){
					if (n['stat'] == 1){
						var cont = "<div class=\"ui slider checkbox\"><input type=\"checkbox\" name=\"newsletter\" id='" + n['id'] + "' checked><label>每天" + n['stime'].substr(0,2) + ":" + n['stime'].substr(2,2)  + "执行</label></div>";
						content = content + cont;
					}
					else{
						var cont = "<div class=\"ui slider checkbox\"><input type=\"checkbox\" name=\"newsletter\" id='" + n['id'] + "'><label>每天" + n['stime'].substr(0,2) + ":" + n['stime'].substr(2,2)  + "执行</label></div>";
						content = content + cont;
					}

				});
				$("#timelist").prepend(head + content + foot);
			});
		}
	});
}

function cgtime(pjname){
	var x = "{\"behaviour\":2, " + "\"pjname\":\"" + pjname + "\"}";
	$.ajax({
		type: "post",
		url: "{% url 'showtime' %}",
		data: x,
		dataType: "json",
		success: function(data){
			$("#ct").empty();
			for(var i=0;i<3;i++)
			{
				console.log(data[i]);
				var t = "<h4 class=\"item\">当前时间："+ data[i]['stime'].substr(0,2) + ":" + data[i]['stime'].substr(2,2) +"</h4><input type=\"text\" class=\"alarm\" name=\""+data[i]['id']+"\">";
				$("#ct").prepend(t);
			}
			$(document).ready(function (){
				$(".alarm").timeDropper();
			});

		;}




	})



	$("#changeTime").modal("show");
	console.log("get");
};


</script>
{% endblock %}