<!DOCTYPE html>
<html lang="ch">
<head>
    <title>{% block title %}接口自动化平台{% endblock %}</title>
    <link rel="icon" href="/static/img/mob.jpg"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <link href="/static/semantic/dist/semantic.min.css" rel="stylesheet"/>
    <link href="/static/plugins/ionicons/css/ionicons.min.css" rel="stylesheet"/>
    <link href="/static/css/main.css" rel="stylesheet"/>
    {% block excss %}{% endblock %}
    <style type="text/css">{% block exstyle %}{% endblock %}</style>
</head>

<body style="height:100%">
<!--左侧菜单-->
<div class="ui visible sidebar inverted black vertical left menu">
    <!--左上角logo-->
    <div class="ui center aligned segment gray">
        <div class="ui dropdown">
            <div class="text" id="uname">
                <img class="ui big avatar image" src="/static/img/avatar/people/enid.png">
            </div>
            <i class="dropdown icon"></i>
            <div class="menu">
                <a class="item" href="/login" onclick="delcookie()">Sign Out</a>
            </div>
        </div>
    </div>

    <div class="ui accordion inverted">
        <!--菜单-->
        <div class="title item">
            <i class="mobile alternate titleIcon icon"></i>手机管理平台<i class="dropdown icon"></i>
        </div>
        <div class="content" id="list">
            <a class="item" href="{% url 'moblist'%}">机型列表</a>
            <a class="item" href="{% url 'mobche' %}" id="sh">设备审核</a>
            <a class="item" href="{% url 'mobman'%}" id="gl">设备管理</a>
        </div>
    </div>
</div>


<!--以下是主要内容部分-->
<div class="mainWrap navslide" id="content" style="height:100%">
    {% block content %}
    <div class="ui segment" style="height:100%"><p>欢迎使用自动化测试平台</p></div>
    {% endblock %}
</div>


<!--引入js-->
<script src="/static/js/jquery-3.3.1.min.js"></script>
<script src="/static/semantic/dist/semantic.min.js"></script>

<script>
var oss_host = "http://julicool-img.oss-ap-southeast-1.aliyuncs.com/"
function getcookie(cname){
    var ca = document.cookie.split(';');
    var name = cname + "=";
    for(var i=0; i<ca.length; i++){
        var c = ca[i].trim();
        if (c.indexOf(name)==0 && name.length!=c.length){
        uname = c.substring(name.length,c.length);
        if(uname!="admin"){$("#sh").remove();$("#gl").remove();}
        return uname;
        }
    }
    self.location.href="/login";
}

function delcookie(){
    document.cookie = "username=; max_age=1; path=/";
}

function welcome(){
    var cname = "username";
    uname = getcookie(cname);
    $("#uname").append(uname);
}

window.onload = welcome();

$('.ui.accordion')
    .accordion();

$('.ui.dropdown')
  .dropdown();

</script>
{% block exjs %}{% endblock %}
</body>

</html>
