{% extends 'auto/index.html' %}
{% block title %}设备管理{% endblock %}
{% block exstyle %}
#content > .ui.segment {
height: 100%;
}
{% endblock %}
{% block content %}
<div class="ui segment">
    <div class="ui segment blue">
        <h4 class="ui header blue">手机管理平台 > 设备管理</h4>
    </div>
    <div class="ui grid">
        <div class="four wide column">
            <select name="mobname" class="ui fluid search dropdown" id="mobname">
                <option value="">品牌</option>
                <option value="a">全部</option>
            </select>
        </div>
        <div class="three wide column">
            <select name="systype" class="ui fluid dropdown" id="systype">
                <option value="">系统类型</option>
                <option value="a">全部</option>
                <option value="0">Android</option>
                <option value="1">iOS</option>
            </select>
        </div>
        <div class="three wide column">
            <select name="sysnumb" class="ui fluid dropdown" id="sysnumb">
                <option value="">系统版本</option>
                <option value="a">全部</option>
            </select>
        </div>
        <div class="three wide column">
            <select name="mobstatus" class="ui fluid dropdown" id="mobstatus">
                <option value="">设备状态</option>
                <option value="a">全部</option>
                <option value="0">可用</option>
                <option value="1">不可用</option>
            </select>
        </div>
        <div class="two wide column">
            <div class="ui grey button" onclick="#">筛选</div>
            <div class="ui blue button" onclick="addshow()">新增</div>
        </div>
    </div>
    <table class="ui selectable compact celled table">
        <thead>
        <tr>
            <th style="display:none;">id</th>
            <th>图片</th>
            <th>设备名称</th>
            <th>系统平台</th>
            <th>系统版本</th>
            <th>分辨率</th>
            <th>设备状态</th>
            <th>操作</th>
        </tr>
        </thead>
        <tbody id="mbshow">
        </tbody>
        <tfoot>
        <tr>
            <th colspan="8">
                <div class="ui right floated pagination menu" id="foot_menu">
                    <a class="item"><</a>
                </div>
            </th>
        </tr>
        </tfoot>
    </table>


    <div class="ui page dimmer" id="imgs">
        <div class="content">
            <div class="center"><img class="ui middle aligned rounded image" src="/static/img/mobimg/111.png"></div>
        </div>
    </div>

    <div class="ui small modal" id="adds">
        <div class="header">设备添加</div>
        <div class="content">
            <form class="ui form" action="{% url 'addmob' %}" method="post" id="mobf">
                <div class="field">
                    <div class="fields">
                        <div class="four wide field">
                            <label>手机品牌</label>
                            <select name="mobname" class="ui fluid dropdown" id="addmob">
                            </select>
                        </div>
                        <div class="four wide field">
                            <label>手机型号</label>
                            <input type="text" name="mobmodel">
                        </div>

                        <div class="eight wide field">
                            <label>设备状态</label>
                            <select type="text" name="mobstat" class="ui fluid dropdown">
                                <option value="0">可用</option>
                                <option value="1">不可用</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="field">
                    <label>分辨率</label>
                    <div class="two fields">
                        <div class="field">
                            <input type="text" name="resolution_x" placeholder="x">
                        </div>
                        <div class="field">
                            <input type="text" name="resolution_y" placeholder="y">
                        </div>
                    </div>
                </div>
                <div class="field">
                    <div class="two fields">
                        <div class="field">
                            <label>系统平台</label>
                            <select type="text" name="system_type" class="ui fluid dropdown" id="system_type">
                                <option value="0">Android</option>
                            </select>
                        </div>
                        <div class="field">
                            <label>系统版本</label>
                            <select type="text" name="system_numb" class="ui fluid dropdown" id="system_numb">
                                <option value="4.0">4.0</option>
                                <option value="4.1">4.1</option>
                                <option value="4.2">4.2</option>
                                <option value="4.3">4.3</option>
                                <option value="4.4">4.4</option>
                                <option value="5.0">5.0</option>
                                <option value="6.0">6.0</option>
                                <option value="7.0">7.0</option>
                                <option value="8.0" selected="selected">8.0</option>
                                <option value="9.0">9.0</option>
                            </select>
                        </div>
                    </div>
                </div>
        </div>
        <div class="actions">
            <button class="ui button" type="submit" value="submit">提交</button>
            <div class="ui negative button">取消</div>
        </div>
        </form>
    </div>

    <div class="ui small modal" id="edits">
        <div class="header">信息修改</div>
        <div class="content">
            <form class="ui form" action="{% url 'updmob' %}" id="edits_form" method="post">
                <div class="field">
                    <div class="fields">
                        <div class="four wide field">
                            <label>手机品牌</label>
                            <select name="mobname" class="ui fluid dropdown" id="edits_mobname">
                            </select>
                        </div>
                        <div class="four wide field">
                            <label>手机型号</label>
                            <input type="text" name="mobmodel" id="edits_mobmodel">
                        </div>

                        <div class="eight wide field">
                            <label>设备状态</label>
                            <select type="text" name="mobstat" class="ui fluid dropdown" id="edits_mobstat">
                                <option value="0">可用</option>
                                <option value="1">不可用</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="field">
                    <label>分辨率</label>
                    <div class="two fields">
                        <div class="field">
                            <input type="text" name="resolution_x" placeholder="x" id="edits_x">
                        </div>
                        <div class="field">
                            <input type="text" name="resolution_y" placeholder="y" id="edits_y">
                            <input type="text" name="id" style="display:none" id="edits_id">
                        </div>
                    </div>
                </div>
                <div class="field">
                    <div class="two fields">
                        <div class="field">
                            <label>系统平台</label>
                            <select type="text" name="system_type" class="ui fluid dropdown" id="edits_system_type">
                                <option value="0">Android</option>
                            </select>
                        </div>
                        <div class="field">
                            <label>系统版本</label>
                            <select type="text" name="system_numb" class="ui fluid dropdown" id="edits_system_numb">
                                <option value="4.0">4.0</option>
                                <option value="4.1">4.1</option>
                                <option value="4.2">4.2</option>
                                <option value="4.3">4.3</option>
                                <option value="4.4">4.4</option>
                                <option value="5.0">5.0</option>
                                <option value="6.0">6.0</option>
                                <option value="7.0">7.0</option>
                                <option value="8.0">8.0</option>
                                <option value="9.0">9.0</option>
                            </select>
                        </div>
                    </div>
                </div>
        </div>
        <div class="actions">
            <button class="ui button" type="submit" value="submit">提交</button>
            <div class="ui negative button">取消</div>
        </div>
        </form>
    </div>

    <div class="ui mini modal" id="suredel">
        <div class="header">删除</div>
        <div class="content"></span>确认删除<span id="del_name" style="color:red;font-weight: bold;"></span> ？</div>
        <div class="actions">
            <button class="ui mini positive button" id="del_id" >确认</button>
            <button class="ui mini negative button">取消</button>
        </div>
    </div>

    <div class="ui mini modal" id="upimg">
        <div class="header">上传图片</div>
        <div class="content">
            <input type="file" name="mobimg" id="mobimg" accept="image/jpeg">
        </div>
        <div class="actions">
            <button class="ui mini positive button" id="upimg_sure">确认</button>
            <button class="ui mini negative button">取消</button>
        </div>
    </div>


</div>
{% endblock %}

{% block exjs %}
<script src="/static/js/template/mobmanage.js"></script>
<script> window.onload = getmoblist(0);</script>
{% endblock %}