
{% extends 'auto/index.html' %}
{% block title %}项目管理{% endblock %}
{% block exstyle %}
#content > .ui.segment {
  height: 100%;
}
{% endblock%}
{% block content %}
<div class="ui segment">
	<div class="ui segment blue">
		<h4 class="ui header blue">测试脚本管理 > 项目管理</h4>
	</div>
    <div class="ui segment">
        <div class="ui five column grid stackable">
        	{% for key,value in data.items %}
          <div class="column">
            <div class="ui cards">
              <div class="card">
                <div class="content"><img class="right floated mini ui image" src="/static/img/avatar/animals/dinosaur_128px.png">
                  <div class="header">{{ key }}</div>
                  <div class="meta">修改时间 {{ value.ctime }}</div>
                  <div class="description">该项目中一共有<span style="color:red;">{{ value.filenum }}</span>个脚本</div>
                </div>
                <div class="extra content">
                  <div class="ui two buttons">
                    <div class="ui basic green button" onclick="changeName('{{ key }}')">修改</div>
                    <div class="ui basic red button" onclick="deleteProject('{{ key }}')">删除</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
            {% endfor %}
        <div class="column">
          <div class="ui cards">
          	<div class="ui basic inverted icon button" style="margin: 20% auto" onclick="createProject()">
          	<i class="huge black plus icon"></i>
            </div>
          </div>		
  	    </div>
	    </div>
</div>

<div class="ui small modal" id="changename">
  <div class="header">修改项目内容</div>
  <div class="content">
  	<form action=" {% url 'changeproject' %} " class="ui form" method="post">
		<div class="field">
		<input type="hidden" name="oldprojectname" value="">
		<input type="text" name="projectname" placeholder="请输入新的项目名称">
		</div>
  </div>
  <div class="actions">
  	<button class="positive ui button">提交</button>
  	</form>
  	<div class="negative ui button">取消</div>
  </div>
</div>

<div class="ui small modal" id="deleteproject">
  <div class="header">删除确认</div>
  <div class="content">
  	<form action=" {% url 'deleteproject' %} " class="ui form" method="post">
  	<h3 class="ui header">是否确认删除<span style="color:red"></span>？</h3>
  	<input type="hidden" name="projectname" value="">
  </div>
  <div class="actions">
  	<button class="positive ui button">提交</button>
  	</form>
  	<div class="negative ui button">取消</div>
  </div>
</div>

<div class="ui small modal" id="createproject">
  <div class="header">新建项目</div>
  <div class="content">
  	<form action=" {% url 'createproject' %} " class="ui form" method="post">
		<div class="field">
		<input type="text" name="projectname" placeholder="请输入项目名称">
		</div>
  </div>
  <div class="actions">
  	<button class="positive ui button">提交</button>
  	</form>
  	<div class="negative ui button">取消</div>
  </div>
</div>


{% endblock %}



{% block exjs %}
<script>
function changeName(name){
	$("#changename .header").text(name);
	$("#changename [name='oldprojectname']").val(name);
	$("#changename")
	.modal("show");
	};

function deleteProject(name){
	$("#deleteproject span").text(name);
	$("#deleteproject [name='projectname']").val(name);
	$("#deleteproject")
	.modal("show");
	};

function createProject(){
	$("#createproject")
	.modal("show");
	};

</script>

{% endblock %}







