{% extends 'auto/index.html' %}
{% block title %}执行记录{% endblock %}
{% block exstyle %}
#content > .ui.segment {
	height: 100%;
}
{% endblock%}
{% block content %}
<div class="ui segment">
	<div class="ui blue clearing  segment">
		<h4 class="ui header blue">测试脚本管理 > 执行记录</h4>
	</div>
		<table class="ui selectable celled table">
		    <thead>
		        <tr>
		            <th>ID</th>
		            <th>项目</th>
		            <th>执行时间</th>
		            <th>执行时长(s)</th>
		            <th>成功率(%)</th>
		        </tr>
		    </thead>
		    <tbody id="cont">
		    </tbody>
		    <tfoot>
    			<tr><th colspan="5">
      			<div class="ui right floated pagination menu" id="pages">

      			</div>
    			</th></tr>
    		</tfoot>
		</table>
	</div>






{% endblock %}
{% block exjs %}
<script>
var listnum = 0;
window.onload = getlists(1);

$("#pages").on('click', ".item", function(){
	var n = $(this).text();
	getlists(n);
	$(this).attr("class", "active item");

})


function getlists(n){
	$.ajax({
		type: "post",
		url: "{% url 'getreschart' %}",
		data: {n: n-1},
		dataType: "json",
		success: function(data){
			listnum = data['num']['count'];
			$("#cont").empty();
			$("#pages").empty();
			$.each(data['res'], function(k, v){
				var tr = document.createElement("tr");
				$("#cont").append(tr);
				var id = document.createElement("td");
				id.innerHTML = v['id'];
				var projectname = document.createElement("td");
				projectname.innerHTML = v['projectname'];
				var stime = document.createElement("td");
				stime.innerHTML = v['stime'];
				var rtime = document.createElement("td");
				rtime.innerHTML = v['rtime'];
				var successrate = document.createElement("td");
				successrate.innerHTML = v['successrate'];
				$("#cont tr:last-child").append(id,projectname,stime,rtime,successrate);

				if (v['successrate'] == 100){
					$("#cont tr:last-child").attr("class", "positive");
				}
				else{
					$("#cont tr:last-child").attr("class", "negative");
				}
			});
			console.log(listnum);
			var page = Math.ceil(listnum/14);
//			var fir = "<a class='icon item'><i class='left chevron icon'></i></a>";
//			$("#pages").append(fir); 
			for(var x=1; x<=page; x++){
				if(x == n){
					a = "<a class='active item'>" + x + "</a>";
					$("#pages").append(a);					
				}
				else{
					a = "<a class='item'>" + x + "</a>";
					$("#pages").append(a);
				}
			}
//			var las = "<a class='icon item'><i class='right chevron icon'></i></a>";
//			$("#pages").append(las);

		}
	});

}

</script>
{% endblock %}


