
{% extends 'auto/index.html' %}
{% block title %}脚本管理{% endblock %}
{% block exstyle %}
#content > .ui.segment {
	height: 100%;
}
{% endblock%}

{% block content %}
<div class="ui segment">
	<div class="ui blue clearing  segment">
		<h4 class="ui header blue">测试脚本管理 > 脚本管理</h4>
	</div>
    <div class="ui styled fluid accordion">
	  {% for key,value in project.items %}
	   <div class="title">
	    <i class="dropdown icon"></i>
	    {{ key }}
	  </div>
	    <div class="content">
			<table class="ui celled striped table">
			{% if value %}
	        <!--div class="ui relaxed horizontal list"-->
	            {% for x in value %}
	           	<tr>
	                <td class="collapsing"><input type="checkbox" name="{{ key }}" value="{{ x }}">{{x}}</div></td>
	            </tr>
	            {% endfor %}
	        	</div>
	        	<tfoot>
					<th>
						<button class=" ui button orange" onclick="uploadfiles('{{ key }}')">脚本上传</button>
						<button class=" ui button teal" onclick="runscript('{{ key }}')">批量执行</button>
						<button class=" ui button blue" onclick="suredelete('{{ key }}')">批量删除</button>
					</th>	        	
				</tfoot>
	        
	      	{% else %}
	        <tfoot>
				<th class="center aligned">
	        		<h5 class="">该项目下暂无脚本，请先上传</h5><button class="ui button orange" onclick="uploadfiles('{{ key }}')">脚本上传</button>
	        	</th>
	        </tfoot>
	      	{% endif %}
	    	</table>
	    </div>
	  {% endfor %}
    </div>
</div>

<div class="ui small modal" id="uploadfiles">
  <div class="header">上传脚本</div>
  <div class="content">
  	<form action=" {% url 'uploadfiles' %} " class="ui form" method="post" enctype="multipart/form-data">
		<div class="field">
		<input type="file" name="fileslist" multiple="multiple">
		<input type="hidden" name="projectname" value="">
		</div>
  <div class="actions">
  	<button class="positive ui button">提交</button>
  	</form>
  	<div class="negative ui button">取消</div>
  </div>
</div>

<div class="ui small modal" id="sure">
	<div class="header">确认删除</div>
	<div class="content"></div>
	<div class="actions">
		<button class="positive ui button" onclick="">确认</button>
		<button class="negative ui button">取消</button>
	</div>
</div>

<div class="ui small modal" id="tips">
	<div class="header">提示</div>
	<div class="content"></div>
	<div class="actions"><button class="positive ui button">确认</button></div>

</div>


{% endblock %}

{% block exjs %}
<script>
	function runscript(boxname)
	{
		var arr = {};

		arr[boxname] = new Array();
		$("[name="+boxname+"]:checked").each(function(){
			arr[boxname].push($(this).val());
		});

		var x = JSON.stringify(arr);

		if( arr[boxname].length == 0)
		{
			$("#tips .content").text("请先选择要执行的脚本");
			$("#tips").modal("show");
		}

		else
		{
			$.ajax({
				type:"post",
				url: "{% url 'runscript' %}",
				data: x,
				dataType: "json",
				success: function(data)
				{
					var succ = "";
					var fail = "";
					var res
					for (var key in data)
					{
						if (data[key][0] == 0)
							{ 	succ = succ + key + "，";} 
						else
							{ 	fail = fail + "<br>" + key + "：<span style='color:red'>" + data[key][1] + "；" + "</span>"; }

					};
					//fail = fail.substring(0, fail.length-1);
					succ = succ.substring(0, succ.length-1);


					if (succ != "" && fail != "")
						res = "执行成功：" + succ + "<br>执行失败：" + fail;
					else if (succ != "")
						res = "执行成功： " + succ;
					else 
						res = "执行失败：" + fail;
					$("#sure .header").text("执行结果");
					$("#sure .content").html(res);
					$("#sure .negative.ui.button").remove();
					$("#sure").modal("show");
				}
			});
		}	
	}

	function uploadfiles(name)
	{	
		$("#uploadfiles [name='projectname']").val(name);
		$("#uploadfiles").modal("show");
	}

	function suredelete(name)
	{
		var arr = "<span style='color:red'>";
		$("[name="+name+"]:checked").each(function(){
				arr = arr + $(this).val() + "<br>";
		});

		if (arr == "<span style='color:red'>"){
			$("#sure .content").text("请先选择要删除的项目");			
			$("#sure").modal("show");
		}
		else{
			$("#sure .content").html(arr + "</span>");
			$("#sure .positive.ui.button").attr("onclick", "deletefiles('" + name + "')");
			$("#sure").modal("show");	
		}

	}


	function deletefiles(name)
	{
		var arr = {};
		arr[name] = new Array();
		$("[name="+name+"]:checked").each(function(){
			arr[name].push($(this).val());
		});
		var x = JSON.stringify(arr);

		$.ajax({
			type:"post",
			url: "{% url 'deletefiles' %}",
			data: x,
			dataType: "json",
			success: function(data)
			{	
				if(data != 1)
				{
					$("#sure .header").text("提示");
					$("#sure .content").html("<h5 style='color:red'>"+ data +"</h5>");
					$("#sure .positive.ui.button").remove();
					$("#sure .negative.ui.button").text("好的");
					$("#sure")
					.modal({
						onDeny: function(){window.location.reload();}
					})
					.modal("show");
				}
				else
				{window.location.reload();}
			}
		});
	}

</script>


{% endblock %}